
.AppContainer{
    box-sizing: border-box;
    background-color: antiquewhite;
  
  }
  
  .header h2,h4 {
    
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: #1f3894;
    color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
  }

  
  
  
  
  
  
  
  
  
  